@page "/counter"

@using BlazorHybridMessAround.Services
@using BlazorHybridMessAround.Views
@inject NavigationService ser;

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-primary" @onclick="DeetsClick">Click for deets</button>

@code {
    private int currentCount;

    private void IncrementCount()
    {
        ser.GoToPage<DetailsPage>();
    }
    private void DeetsClick()
    {
        
    }
}
