@page "/"
@using BlazorHybridMessAround.Components.Cards
@using BlazorHybridMessAround.Components.Views
@using BlazorHybridMessAround.Models
@using BlazorHybridMessAround.Services
@using BlazorHybridMessAround.ViewModel
@using BlazorHybridMessAround.ViewModels
@using System.Collections.ObjectModel

@inject PwnedViewModel ListViewData;

<TelerikRootComponent>
    <div>
        <TelerikLoaderContainer OverlayThemeColor="light" ThemeColor="primary" Visible="@IsLoading" LoaderType="@LoaderType.InfiniteSpinner" />
        <TelerikListView Data="@ListViewData.Pwned" Width="100%" Pageable="false">
           
            <Template>
                <div @onclick="@( _ => SelectItem(context) )">
                    <PwnedCard PwnedViewModel=@context />
                </div>
              
            </Template>
           
        </TelerikListView>
    </div>
</TelerikRootComponent>

@code {

    private bool IsLoading { get; set; }

    protected async override void OnInitialized()
    {
        IsLoading = true;
        base.OnInitialized();

        await ListViewData.OnInitailise();
        IsLoading = false;
      
        await InvokeAsync(StateHasChanged);

    }

    private async void SelectItem(PwnedModel PwnedViewModel)
    {
        var navigationParameter = new ShellNavigationQueryParameters
            {
                { "PwnedViewModel", PwnedViewModel }
            };
        await Shell.Current.GoToAsync($"{nameof(DetailsPage)}", navigationParameter);
    }
}


